/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
  max-width: 800px;
  padding: 2rem 8rem;
}

h1 {
  font-size: xx-large;
  margin-bottom: 2.5rem;
}

ul {
  list-style: none;
  padding: 0;
}


a.primary-btn {
  text-decoration: none;
}

a.primary-btn:hover {
  background-color: white;
  color: #797874;
  
}

.primary-btn {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: .8rem;
  color: #797874;
  background-color: white;
  padding: .75rem 1.5rem;
  font-weight: bold;
  box-shadow: 0 2px 4px -3px grey
}