.product_reviews {
  @import 'product_stars';

  .product-review-form-label {
    font-size: medium;
    margin-bottom: 1.5rem;
    font-weight: bolder;
  }
  .product-review-form-text-area {
    font-size: medium;
    border: none;
    resize: none;
    font-family: inherit;

    &::placeholder {
      color: #929292;
    }
  }

  .rating-field {
    margin-bottom: 1.5rem;
  }

  #product_review_rating:hover {
    cursor: pointer;
  }
}