.product_reviews {
  @import 'product_stars';

  .field {
    margin-bottom: 1rem;
  }
  .product-review-form-label {
    font-size: medium;
    margin-bottom: 1.5rem;
    font-weight: bolder;
  }
  .product-review-form-input {
    font-size: medium;
    margin-bottom: 1.5rem;
    border: none;
  }

  #product_review_rating:hover {
    cursor: pointer;
  }
}