.products {
  @import 'stars/product_stars';
  
  h1 {
    font-size: xx-large;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .product_average_rating {
    font-size: x-large;
    display: flex;
    align-items: center;

    .product_average_rating_number {
      margin-right: .5rem;
    }
  }

  .product_review {
    display: flex;
    align-items: center;

    .rating-label {
      margin-right: .75rem;
    }
  }
}