.products {
  @import 'product_stars';
  
  .product {
    padding-bottom: 2rem;
  }

  .product-bottom {
    display: flex;

    .new-review-btn {
      margin-left: auto;
    }
  }

  .product_average_rating {
    font-size: x-large;
    display: flex;
    align-items: center;

    .product_average_rating_number {
      margin-right: .5rem;
    }
  }

  .hr_product {
    border: none;
    border-top: 1px solid #B9B9B9;
  }

  .reviews {
    padding-top: .75rem;
  }

  .product_review {
    display: flex;
    align-items: center;

    .rating-label {
      margin-right: .75rem;
    }

    .product_review_description {
      color: #858585;
    }
  }

  
}