.products {
  @import 'stars/product_stars';
  
  h1 {
    font-size: xx-large;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  .product {
    padding-bottom: 2rem;
  }

  .product_average_rating {
    font-size: x-large;
    display: flex;
    align-items: center;

    .product_average_rating_number {
      margin-right: .5rem;
    }
  }

  .hr_product {
    border: none;
    border-top: 1px solid #B9B9B9;
  }

  .reviews {
    padding-top: .75rem;
  }

  .product_review {
    display: flex;
    align-items: center;

    .rating-label {
      margin-right: .75rem;
    }
  }
}